<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>John Doe</h1>

  <div>
    <div><b>Birthday:</b> August 22, 1997 </div>
    <div><b>Age:</b> 21</div>
    <div><b>Bio:</b> i am the admin</div>
  </div>
  </br>

<p><a href="/another">View Groups</a></p>
<div>
  <b>Your Friends:</b>
  {% for n in friends %}
  <div>{{n}}</div>
  {% endfor %}
  </br>

  <b>Your Groups:</b>
  {% for n in groups %}
  <div>{{n}}</div>
  {% endfor %}
  </br>
</div>

<form method="POST" action="/add">
  <div>
    <b>Find Friends:</b>
    <select name="uid">
      <option value="Choose a name"/>
      {% for n in names %}
      <option value={{uids[n]}}>
        {{n}}
      </option>
      {% endfor %}
    </select>
    <input type="submit" value="Add">
  </div>
</form>

</body>


</html>
